{
  "presets": [
    ["env", {
      "targets": {
        "browsers": [
          ">1%"
        ]
      }
    }],
    "react"],
  "plugins": [
    "react-hot-loader/babel",
    "istanbul",
    "add-react-displayname",
    "transform-class-properties",
    "transform-object-rest-spread"
  ]
}