pre {
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 80%;
  line-height: 140%;
  white-space: pre;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  background: #f6f8fa;
  padding: 10px;
  border: dashed 1px #ccc;
  text-align: left;
}

code {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 80%;
  line-height: 140%;
  white-space: pre;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  background: #f6f8fa;
  text-align: left;
}

.gsc-search-button-v2 {
  padding: 6px 13px !important;
}

.gsib_a {
  padding: 3px 3px !important;
}

::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

img {
  width: 100%;
  max-width: calc(100% - 12px);
  padding: 5px;
  border: solid 1px #e4e4e4;
}

img[title='closures-case-1-before'], img[title='closures-case-1-after'], img[title='closures-case-2'], img[title='closures-case-3-before'], img[title='closures-case-3-after'] {
  width: 400px;
  margin: auto;
  text-align: center;
  display: block;
}

img[title='Sreeram Padmanabhan'] {
  width: 150px;
  border: none;
  display: block;
  float: left;
  margin-right: 10px;
}