<!DOCTYPE html>
<html lang="en">

<head>
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
  <meta name="theme-color" content="#317EFB" />
  <link rel="manifest" href="/manifest.json">
  <meta name="Description" content="<%= htmlWebpackPlugin.options.description %>">
  <meta name="keywords" content="<%= htmlWebpackPlugin.options.keywords %>">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="index,follow" />
  <meta name="author" content="Sreeram Padmanabhan">
  <meta charset="UTF-8">
  <meta property='og:image' content="<%= htmlWebpackPlugin.options.ogImage %>" />
	<meta property='og:url' content="<%= htmlWebpackPlugin.options.ogUrl %>" />
	<meta property='og:title' content="<%= htmlWebpackPlugin.options.ogTitle %>"  />
	<meta property='og:description' content="<%= htmlWebpackPlugin.options.ogDescription %>" />
	<meta property='og:type' content="<%= htmlWebpackPlugin.options.ogType %>" />
	<meta property='fb:app_id' content="<%= htmlWebpackPlugin.options.ogFbAppId %>" />
  <link rel='icon' href='/favicon.png' />
  <script async type="text/javascript" src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113469131-2"></script>
  <script async type='text/javascript' src='https://cse.google.com/cse.js?cx=partner-pub-6831276331714408:3209356504'></script>
  <!-- <script async type='text/javascript' src='https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.1&appId=297023651089707&autoLogAppEvents=1'></script> -->
  <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,500" rel="stylesheet">
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "ca-pub-6831276331714408",
      enable_page_level_ads: true
    });
  </script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-113469131-2');
  </script>
  <style>
    @media (max-width: 360px) {
      body {
        font-size: 16px;
      }
    }
    @media (min-width: 360px) {
      body {
        font-size: 1.0em;
      }
    }
  </style>
  <script>
    var modernBrowser = (
      'fetch' in window &&
      'assign' in Object
    );

    if (!modernBrowser) {
      var scriptElement = document.createElement('script');

      scriptElement.async = false;
      scriptElement.src = '/polyfills.bundle.js';
      document.head.appendChild(scriptElement);
    }
  </script>
  <style>
  body {
    margin: 0;
  }
  </style>
</head>

<body>
  <div id="root"></div>
</body>

</html>
